// Copy this file to your site and use it to override CSS variables that apply to the light CSS
// definitions. See `main-light.scss` in the theme for a complete list of variables you can override
// with this file.

// @debug "Old link-color: #{$link-color}";
// $link-color: #FF0000;
// @debug "New link-color: #{$link-color}";

@import "variables-light";

.highlight .cp,
.highlight .mi,
.highlight .n, .highlight .nf,
.highlight .o,
.highlight .p,
.highlight .k, .highlight .kt, .highlight .kv
{
    font-weight: normal;
}
.main-content
{
    h1, h2, h3, h4, h5, h6
    {
        color: $hyde-primary;
    }
}
.main-content .highlight pre, .main-content pre
{
    background-color: #ffffff;
}
.wrapper > table
{
    th, td
    {
        padding: 0.5rem 1rem;
        border: 1px solid #e9ebec;
    }
}
