$background-color:           white;
$footer-background-color:    transparent;
$header-background-color:    transparent;
$highlight-accent-color:     #dce6f0;
$highlight-background-color: #f3f6fa;
$hyde-primary:               #152999e5; // #159957;
$link-color:                 #1e6bb8;
$text-color:                 #606c71;
