$background-color:           white;
$base-font-family:           "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:             16px;
$base-font-weight:           400;
$base-line-height:           1.5;
$code-font-family:           Consolas, "Liberation Mono", Menlo, Courier, monospace;
$content-width:              1000px;
$footer-background-color:    transparent;
$footer-border-color:        #eff0f1;
$footer-height:              100px;
$header-background-color:    transparent;
$header-border-color:        $footer-border-color;
$header-font-family:         "Source Sans Pro",sans-serif;
$highlight-accent-color:     #dce6f0;
$highlight-background-color: #f3f6fa;
$hyde-primary:               #152999e5; // #159957;
$icon-hover-secondary-color: white;
$icon-secondary-color:       white;
$link-color:                 #1e6bb8;
$on-laptop:                  800px;
$on-palm:                    600px;
$site-grey-color:            #949597;
$site-menu-background-color: inherit;
$site-menu-border-color:     transparent;
$spacing-unit:               30px;
$text-color:                 #606c71;
